{% extends "layout.html" %}
{% block content %}
<h1>Click log in to access your account.</h1>
<form name="home" action="/" method="post">
            <input type="submit" value="Log In">
        </form>

<table class="centered thick-border" border="1" >
		<tr>
			<th>Title</th>
			<th>Blog Id#</th>
			<th>Content</th>
            <th>Date Posted</th>
			 <th>Category</th>
		</tr>
    {% for dict in posts %}
        <tr>
            <td>{{dict.title}}</td>
            <td>{{dict.blog_id}}</td>
            <td>{{dict.content}}</td>
            <td>{{dict.date}}</td>
            <td>{{dict.category}}</td>
        </tr>
    {% endfor %}
</table>


{% endblock content %}